body {
  background-color: #161616;
}

p {
  font-family: 'Glory', sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

button {
  margin-top: 20px;
  font-family: 'Glory', sans-serif;
  font-size: 2rem;
  color: black;
  /* background-color:white; */
  /* box-shadow: 8px 7px 9px #a19ba1; */
  padding: 10px 30px;
  margin: 10px 200px;
  background-image: linear-gradient(to bottom right, white, grey);
}

hr {
  color: grey;
  border-style: dotted;
  border-width: 6px 0 0 0;
}

button:hover {
  background-image: linear-gradient(to left, grey, whi);
}

.heading {
  color: white;
  font-family: 'Montserrat Subrayada', sans-serif;
  font-size: 2rem;
  text-align: center;
  margin: 10px 200px;
}

.playerOne {
  color: white;
  float: left;
  margin-left: 200px;
  font-family: 'Glory', sans-serif;
}

.playerTwo {
  color: white;
  float: right;
  margin-right: 200px;
  font-family: 'Glory', sans-serif;
}

.win {
  color: white;
  text-align: center;
  margin-top: 150px;
  font-size: 3rem;
}
